@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yesteryear&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap')
@import reset.css

$font-family: Montserrat, sans-serif
$font-size: 16px
$primary-color: #ffffff
$second-color: #fff568
$grey-color: #595959

=block()
  width: 100%
  max-width: 1400px
  min-width: 575px
  @media screen and (max-width: 575px)
    width: 575px
    min-width: 575px
=content()
  width: calc(100% - 20px)
  max-width: 1080px
  min-width: 575px
  margin: auto
  padding: 100px 10px 0
  @media screen and (max-width: 575px)
    width: 555px
    min-width: 555px

body
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 100%
  min-width: 555px
  margin: auto
  font: $font-size $font-family
  line-height: $font-size*1.5
  color: $primary-color
  background-color: #111111
  @media screen and (max-width: 575px)
    width: 575px
    min-width: 575px
.header
  +block
  position: fixed
  display: flex
  justify-content: center
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) )
.header-content
  +content
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 10px
.social-networks-list
  display: flex
  list-style-type: none
  li:not(:last-child)
    margin-right: 10px
.logo a
  display: flex
  padding-right: 102px
  font-family: 'Yesteryear', cursive
  font-size: 200%
  color: #ffffff
  text-decoration: none
.first-block
  +block
  display: flex
  height: calc(100vh - 100px)
  min-height: 833px
  margin: auto
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/src/images/main.jpg") no-repeat top center
  background-size: cover
  @media screen and (max-width: 575px)
    height: 100vh
.first-block__content
  +content
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  margin: auto
  padding: 0 10px
.first-block__main
  display: flex
  align-items: center
  width: calc(100% - 174px)
  height: 100%
  text-align: center
.first-block__arrow-right, .first-block__arrow-left
  cursor: pointer
.first-block__arrow-right
  transform: rotate(180deg)
h1
  margin: 0 0 30px
  font-size: $font-size*2.5
  line-height: $font-size*2.5*1.5
.button
  margin: 30px 0px
  padding: 15px
  color: $primary-color
  text-transform: uppercase
  background-color: transparent
  border: 2px solid #ffffff
  cursor: pointer
  &:hover
    color: $second-color
.first-block-main p
  padding-top: 30px
.slick-dots
  bottom: 30px
.slick-dots  li
  margin: 0
.slick-dots  li button:before
  color: $primary-color
  opacity: 1
  font-size: 40px
.slick-dots  li.slick-active button:before
  color: $second-color
  opacity: 1
  font-size: 40px

.about-block
  +block
.about-block__content
  +content
  display: flex
  justify-content: space-between
  @media screen and (max-width: 700px)
    flex-direction: column
.about-block__left-part
  width: 380px
  @media screen and (max-width: 700px)
    width: 100%
.about-block__right-part
  width: calc(100% - 400px)
  @media screen and (max-width: 700px)
    width: 100%
.colored-text
  color: $second-color
h2
  font-size: $font-size * 1.5
  line-height: $font-size * 2.25
h3
  font-size: $font-size * 1.25
  line-height: $font-size * 1.875
.next-paragraph
  padding-top: 20px

.statistics
  +block
  margin: 100px 0 0
  border: 1px solid $grey-color
.statistics__content
  +content
  display: flex
  justify-content: space-between
  padding: 0px 0px
  &:first-child
    border-left: 1px solid $grey-color
.statistics__cell
  width: 25%
  padding: 20px 10px
  text-align: center
  border-right: 1px solid $grey-color
  p
    color: $grey-color
  div
    font-size: $font-size * 4
    line-height: $font-size * 6

