header.header
    div.header-content
        div.social-networks
            ul.social-networks__list.social-networks-list
                li.social-networks-list__item
                    a(href="#")
                        img(src="/src/images/facebook.png")
                li.social-networks-list__item
                    a(href="#")
                        img(src="/src/images/twitter.png")
                li.social-networks-list__item
                    a(href="#")
                        img(src="/src/images/pinterest.png")
                li.social-networks-list__item
                    a(href="#")
                        img(src="/src/images/googleplus.png")
        div.logo
            a(href="#") Stella
        div.menu-burger
            img(src="/src/images/nav.svg")