doctype html
html
    head
        title Example
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="/src/styles/slick.css")
        link(rel="stylesheet" type="text/css" href="/src/styles/slick-theme.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
        script(src="http://code.jquery.com/jquery-1.8.3.js")
    body
        include ./components/header.pug

        div.first-block
            div.first-block__content
                div.first-block__arrow-left
                    img(src="/src/images/arrow.png")
                div.first-block__main.first-block-main
                    div
                        h1 Андрей и Ольга
                        batton.button Смотреть альбом
                        p 26 июня 2020 г.
                    div
                        h1 Игорь и Татьяна
                        batton.button Смотреть альбом
                        p 15 января 2019 г.
                    div
                        h1 Евгений и Софья
                        batton.button Смотреть альбом
                        p 3 августа 2020 г.
                    div
                        h1 Виталий и Мария
                        batton.button Смотреть альбом
                        p 8 сентября 2020 г.
                div.first-block__arrow-right
                    img(src="/src/images/arrow.png")
        div.about-block
            div.about-block__content
                div.about-block__left-part
                    p.colored-text О нашей фотостудии
                    h2 Лучшая фотостудия Санкт-Петербурга
                    h3 Профессиональные фотографы и оборудование
                    button.button Смотреть портфолио
                div.about-block__right-part
                    p.
                        Все фотографы LABORATORY имеют опыт в профессии от 5 лет.
                        При этом мы постоянно повышаем уровень мастерства команды в своей фотошколе.
                        Каждый проходит обучение и защищает проекты по портретным, семейным и студийным фотосессиям.
                    p.next-paragraph.
                        Мы знаем, что фотосессия - это желанное и волнительное событие.
                        И стремимся сделать всё, чтобы вам было приятно держать в руках готовые снимки и вспоминать, как они создавались.
                        Мы поддержим вас, поможем подготовиться и воплотим вашу мечту о красивых фотографиях!
        div.statistics.benefits
            div.statistics__content.benefits__inner
                div.statistics__cell.benefits__element
                    div.benefits__number 3
                    p Года опыта
                div.statistics__cell.benefits__element
                    div.benefits__number 176
                    p Счастливых клиентов
                div.statistics__cell.benefits__element
                    div.benefits__number 598
                    p Проектов
                div.statistics__cell.benefits__element
                    div.benefits__number 45
                    p Наград







        script(type="text/javascript" src="/src/scripts/slick.min.js")
        script(type="text/javascript" src="/src/scripts/jquery.animate-number.min.js")
        script(type="text/javascript" src="/src/scripts/custom.animate-number.js")
